<h1>Événements</h1>

<% @events.each do |event| %>
  <div>
    <h3><%= link_to event.title, event %></h3>
    <p><%= event.description %></p>
    <p>Le <%= event.start_date %> à <%= event.location %></p>
    <p>Par <%= event.user.email %></p>
  </div>
<% end %>

<!-- app/views/events/show.html.erb -->
<h1><%= @event.title %></h1>
<p><%= @event.description %></p>
<p>Date : <%= @event.start_date %></p>
<p>Lieu : <%= @event.location %></p>
<p>Places max : <%= @event.max_participants %></p>
<p>Organisateur : <%= @event.user.email %></p>

<% if user_signed_in? %>
  <% if current_user.participations.find_by(event: @event) %>
    <p>Vous participez !</p>
    <%= button_to "Annuler", [@event, current_user.participations.find_by(event: @event)], method: :delete %>
  <% else %>
    <%= button_to "Participer", [@event, :participations], method: :post %>
  <% end %>
<% end %>

<%= link_to "Retour", events_path %>
